body,html{
    padding:0;
    margin:0;
    overflow-x:hidden;
	background-image: url("../image/3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#topnav{
     z-index: 10000000;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    margin: 0;
    padding:0 ;
    color: white;
    opacity: .90;
    background-color:#900;
    background-image:-webkit-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-moz-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-ms-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-o-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
}

#topnav ul{
    overflow:hidden;
}

#topnav li{
    float: left;
    display: inline;
    margin: 0px;
    padding: 0px;
}

#topnav a{
    display: block;
    margin: 0px;
    padding: 0px 30px;
    line-height: 50px;
    font-family: "Lato";
    color: white;
    text-decoration: none;
    position:relative;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

#topnav a:before {
    content:attr(nazwa);
    position:absolute;
    text-align: center;
    top:100%;
	right:0px;
    left:0px;
    display:block;
    background-color:white;
    color:#333;
}
#topnav a:hover {
  margin-top:-50px;
  margin-bottom:1px;
}

@media all and (max-width: 650px) {
  #topnav {
    display: none;
    visibility: hidden;
  }
}
@media all and (min-width: 651px) {
  #phonetopnav {
    display: none;
    visibility: hidden;
  }
}
#phonetopnav{
    z-index: 10000000;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
    position: fixed;
    
    
}
#phonetopnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#phonetopnav a{
    width: 100vw;
    opacity: .95;
    font-family: "Lato";
    color: white;
    text-align: center;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    background-color:#900;
    background-image:-webkit-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-moz-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-ms-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-o-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
}

#phonetopnav a:hover:not(.active) {
    font-family: "Nosifer";
}
#Home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.HomeTitle{
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    text-transform: uppercase 
}
.HomeTitle h1{
    font-weight: 700;
    font-family: "Lato";
    font-size: 48pt;
    margin: 0;
}

@media (max-width: 540px) {
  .HomeTitle h1 {
    font-size: 32pt;
  }
}

.HomeTitle h2 {
    font-family: "Nosifer";
    font-size: 36pt;
    margin: 0;
}
@media (max-width: 540px) {
  .HomeTitle h2 {
    font-size: 20pt;
  }
}
.kreska{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.kreska span{
    width: 70%;
    height: 4px;
    background: #900;
    margin: 10px;
}

#About{
    position: relative;
    width: 100vw;
    height: 900px;
    z-index: 100;
    font-weight: 300;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
@media (max-width: 650px) {
  #About {
     padding-top: 250px;
  }
}
.AboutBackground{
     position: relative;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 50px;
    background-color:#900;
    background-image:-webkit-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-moz-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-ms-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-o-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
}

.AboutTitle{
    font-family: "Nosifer";
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 1mm;
    padding-top: 20px;
    color: white;
}

.AboutTitle h1{
    margin: 0;
}

@media (max-width: 540px){
    .AboutTitle{
        font-size: 10pt;
    }
}
@media (max-width: 400px){
    .AboutTitle{
        font-size: 7pt;
    }
}

.opis{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.opis div+div{
    margin-left: 20px;
    
}
@media (max-width: 1100px) {
  .opis  {
    flex-direction:column;
  }
}


.opis h1{
    font-family: "Nosifer", sans-serif;
    font-size: 15pt;
}

.opis div{
    border-radius: 50px;
    width: 400px;
    height: 225px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: black;
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease;
}

.opis div:hover{
    color: white;
    box-shadow: 10px 10px 15px #333;
    position: relative;
    top: -10px;
}
@media (max-width: 460px){
    .opis h1{
        font-size: 8pt;
    }
    .opis div{
        width: 80%;
    }
    .opis p{
        font-size: 15pt;
    }
}
.opis p{
    font-size: 15pt;
    margin-bottom: 50px;
}
#Skils{
    position: relative;
    width: 100vw;
    height: 900px;
    z-index: 100;
    font-weight: 300;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 650px) {
  #Skils {
     padding-top: 300px;
  }
}
.SkilsBackground{
     position: relative;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 50px;
    background-color:#900;
    background-image:-webkit-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-moz-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-ms-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-o-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
}
.SkilsTitle{
    font-family: "Nosifer";
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 1mm;
    color: white;
}
.SkilsTitle h1{
    padding-top: 50px;
    margin: 0;
}


@media (max-width: 540px){
    .SkilsTitle{
        font-size: 10pt;
    }
}
@media (max-width: 400px){
    .SkilsTitle{
        font-size: 7pt;
    }
}
.SkilsDescription{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
@media (max-width: 1100px) {
  .SkilsDescription  {
    flex-direction:column;
  }
}
.SkilsDescription div+div{
    margin-left: 20px;
    
}

.SkilsDescription h1{
    font-family: "Nosifer", sans-serif;
    font-size: 15pt;
}

.SkilsDescription div{
    border-radius: 50px;
    width: 400px;
    height: 225px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: black;
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease;
}

@media (max-width: 400px){
    .SkilsDescription h1{
        font-size: 8pt;
    }
    .SkilsDescription div{
        width: 80%;
    }
    .SkilsDescription p{
        font-size: 15pt;
    }
}

.SkilsDescription div:hover{
    color: white;
    box-shadow: 10px 10px 15px #333;
    position: relative;
    top: -10px;
}

.SkilsDescription p{
    font-size: 15pt;
    margin-bottom: 20px;
}

#Contact{
    padding-top: 90px;
    padding-bottom: 90px;
    height: 850px;
}

.Tkontakt{
    text-align: center;
    font-family: "Nosifer";
    font-size: 28pt;
    color: white;
}


.email{
    height: 400px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.ii ,.tt, .mm{
    display:inline-block;
    margin-bottom: 15px;
}
@media (max-width: 680px){
    .ii ,.tt, .mm{
    display:block;
    flex-direction: column;
        margin-bottom: 15px;
    }
    
}

input[type*='text']{
    
    font-family: "Lato";
    width:200px;
    height:40px;
    border:1px solid black;
    margin-right: 20px;
    border-radius: 7px;
    color:black;
    margin-top:20px;
    font-size:14pt
}
@media (max-width: 680px){
    input[type*='text']{
        width:450px;
        margin: 0;
    }
}
@media (max-width: 460px) {
  input[type*='text']{
    width: 300px;
  }
}

textarea{
    font-family: "Lato";
    
    width:645px;
    height:200px;
    padding-top:10px;
    color:black;
    border:1px solid black;
    border-radius: 7px;
    font-size:14pt
}
@media (max-width: 680px){
    textarea{
        width:450px;
    }
}
@media (max-width: 460px) {
  textarea {
    width: 300px;
  }
    .Tkontakt{
        font-size: 14pt;
    } 
}

.send button{
    margin-top: 10px;
    font-family: "Lato";
    position: relative;
    left: 447px;
    background-color:#900;
    background-image:-webkit-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-moz-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-ms-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:-o-linear-gradient(top, #900 0%, #6A0808 40%, #620303 50%, #6A0808 100%);
    background-image:linear-gradient(top, #900 0%, #6A0808 50%, #620303 50%, #6A0808 100%);
    border: none;
    border-radius: 7px;
    font-size: 28px;
    color: white;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
@media (max-width: 680px){
    .send button{
        left: 0px;
    }
}
.send button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.85),0 17px 30px 0 #900;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100vw;
    background: black;
    color: white;
    font-size: 8pt;
}

footer h1{
    margin: 0;
}
@media (max-width: 480px){
    footer{
        font-size: 6pt;
    }
}

@media (max-width: 380px){
    footer{
        font-size: 5pt;
    }
}















