body,html{
    padding:0;
    margin:0;
    overflow-x:hidden;
}
.box_menu{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    width:100%;
    height:60px;
    position:fixed;
    z-index:1;
    margin:0;
    padding:0
}

@media all and (max-width: 650px){
    .box_menu{
        display:none;
        visibility:hidden
    }}

.menu{
    font-family: 'Philosopher';
    font-size:14pt;
    font-weight:normal
}
.menu li{
    display:inline;
    list-style:none
}
.menu li+li{
    margin-left:30px
}
.menu li:last-child{
    margin-right:100px
}
.menu a{
    position: relative;
    text-decoration:none;
    color:black;
    font-weight:300;
    margin-left:2px
}
.menu a:hover{
    color: black;
}

.menu a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: purple;
    visibility: hidden;
    
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}

.menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}


#home{
    display:flex;
    justify-content:center;
    align-items:center;
    background: url("../images/ocean.jpg")center no-repeat;
   
    width:100vw;
    
    height:100vh;
    
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	 background-size:cover;
    
}

.hometitle{
    font-family: 'Philosopher';
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    height: 60vh;
}
.tytul{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center
}
.tytul{
    margin-bottom:50px;
}

.tytul h1{
    font-weight: 600;
    font-size: 48pt;
    margin: 0;
}
@media (max-width: 760px){
    .tytul h1{
        font-size:32pt;
    }}
@media (max-width: 540px){
    .tytul h1{
        font-size:24pt;
    }}

.hometitle h2{
    font-weight: 600;
    font-size: 32pt;
    margin: 0;
}

@media (max-width: 760px){
    .hometitle h2{
        font-size:24pt;
    }}
@media (max-width: 540px){
    .hometitle h2{
        font-size:18pt;
    }}

.hometitle h3{
    font-weight: 600;
    font-size: 32pt;
    margin: 0;
}
@media (max-width: 760px){
    .hometitle h3{
        font-size:18pt;
    }}
@media (max-width: 540px){
    .hometitle h3{
        font-size:16pt;
    }}
.Podkreslenie{
    margin-bottom: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
   
}
.Podkreslenie span{
    width: 90%;
    height: 4px;
    background: purple;
        
    margin: 10px;
}

#Omnie{
   font-family: 'Philosopher';
    position: flex;
    width: 100%;
    height: 750px;
}
@media (max-width: 780px){
    #Omnie{
        height:auto;
        padding-top:40px;
        padding-bottom:40px;
    }}



#Kontakt{
    
    background: url("../images/contactimg.jpg")center no-repeat;
    padding-top:90px;
    padding-bottom:90px;
    width: 100vw;
    height:900px;
    
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    display:flex;
    justify-content:center;
    align-items:center}

footer{
    
    background: black;
    color: white;
    font-size: 8px;
    width:100vw;
    height:20px;
}
footer h1{
    margin: 0;
    
}
@media (max-width: 560px){
    footer h1{
        font-size:5px;
    }
}

.Tkontakt{
    font-family: 'Philosopher';
    font-size:24pt;
    text-align: center;
}

.email{
    height: 400px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.ii ,.tt, .mm{
    display:inline-block;
    margin-bottom: 15px;
}


input[type*='text']{
    
    font-family: 'Philosopher';
    width:200px;
    height:40px;
    border:1px solid black;
    margin-right: 20px;
    border-radius: 7px;
    color:black;
    margin-top:20px;
    font-size:14pt
}


textarea{
    font-family: 'Philosopher';
    
    width:645px;
    height:200px;
    padding-top:10px;
    color:black;
    border:1px solid black;
    border-radius: 7px;
    font-size:14pt
}

.send button{
    margin-top: 10px;
    font-family: 'Philosopher';
    position: relative;
    left: 447px;
    background-color: #003399  ;
    border: none;
    border-radius: 7px;
    font-size: 28px;
    color: #FFFFFF;
    padding: 10px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.send button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.contactinf{
    font-family: 'Philosopher';
    font-size: 16pt;
    margin-top: 50px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.localization{
    display:inline-block;
    text-align: center;
}

.phone{
    display:inline-block;
    text-align: center;
}

.poczta {
    display:inline-block;
    text-align: center;
    
    margin-right: 120px;
    margin-left: 120px;
}

.znaczek{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center
}

.znaczek span{
    width:40%;
    height:2px;
    background:purple;
}

@media (max-width: 380px){
    .Tkontakt{
        font-size:24pt
    }
}
@media (max-width: 640px){
    #Kontakt{
        height: auto;
    }
    .contactinf{
       flex-direction: column;
    }
    .localization, .phone, .poczta{
        display: block;
    }
    .email{
        flex-direction: column;
    }
    .ii {
        display: block;
        margin-bottom: -10px;
    }
    .mm {
        display: block;
        margin-bottom: -10px;
    }
    .tt {
        display: block;
        margin-bottom: 5px;
    }
    input[type*='text']{
       
        width:300px;
    }
    textarea{
        width:300px;
    }
    .send button{
        left: 0;
        align-items:center;
    }
}  


















